
        <!--<footer style="bottom:0; position:absolute;" class="footer">-->
        <!--  <div class="container">-->
        <!--    <p style="text-align:center;" class="text-muted">&copy; Eriks Workshop 2017 | <a href="/">Home</a> | <a href="/products">Products</a></p>-->
        <!--  </div>-->
        <!--</footer>-->

        <!--<script type="text/javascript" src="https://js.stripe.com/v3/"></script>-->
        <!--<script type="text/javascript" src="javascripts/checkout.js"></script>-->
        

         <!--Custom JS for search feature -->
        <!--<script src="/scripts/search.js" async defer></script>-->
        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>