   </div>
</div>
        <footer class="footer">
          <div class="container">
            <a href="https://www.instagram.com/eheartdesignco/"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="https://www.facebook.com/eheartdesignco/"><i class="fa fa-facebook-square fa-2x"></i></a>
            <p class="text-dark">&copy; EHeart Design Co. 2017 | <a href="/">Home</a> | <a href="/products/furniture">Furniture</a> | <a href="/products/homegoods">Home Goods</a> | <a href="/products/gifts">Gifts</a> | <a href="/contact">Contact Us</a></p>
            
          </div>
        </footer>

      <!--<script-->
      <!--  src="https://code.jquery.com/jquery-3.2.1.min.js"-->
      <!--  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="-->
      <!--  crossorigin="anonymous"></script>-->
  
      
      <script src="/javascripts/show.js"></script>
    </body>
</html>