   </div>
</div>
        <footer class="footer">
          <div class="container">
            <p class="text-dark">&copy; EHeart Design Co. 2017 | <a href="/">Home</a> | <a href="/products">Products</a></p>
          </div>
        </footer>

      <!--<script-->
      <!--  src="https://code.jquery.com/jquery-3.2.1.min.js"-->
      <!--  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="-->
      <!--  crossorigin="anonymous"></script>-->
  
      
      <script src="/javascripts/text.js"></script>
    </body>
</html>