<% include ./partials/header %>
<form id="form" action="/clearance?_method=PUT" method="POST">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% products.forEach(function(product){ %>
                <div class="col-md-3 col-xs-6">
                    <div class="thumbnail crop">
                        <img src="<%= product.image %>">
                        <div class="caption">
                            <p name="product[_id]"><%= product._id %></p>
                            <h2><%= product.name %></h2>
                            <h3 class="col-xs-12">$<%= product.price %></h3>
                        </div>
                        <div id="marginBottom" class="col-xs-12">
                            <div class="col-md-6 col-md-offset-3">
                                <h4>Clearance setting</h3>
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <input name="product[clearance]" class="radioBtn" type="radio" aria-label="...">
                                  </span>
                                  <input type="number" class="form-control" aria-label="...">
                                </div><!-- /input-group -->
                              </div><!-- /.col-lg-6 -->
                        </div>
                    </div> 
                </div>
                
        <% }) %>
    <button class="col-xs-4 col-xs-offset-4">submit</button>
</form>

<% include ./partials/footer %>