
<% include ./partials/header %>



<div class="slideshow">
  <li></li>
  <li></li>
  <li></li>
</div>

<div class="container-fluid"></div>
    <div class="row">
        <div class="col-sm-12">
            <h2><strong>What's trending</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-sm-4">
            <div class="blahblah">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail testBox"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <h3>Clearance Items</h3>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail testBox"></div>
        </div>
        <div class="col-md-3 col-xs-6">
            <div class="thumbnail testBox"></div>
        </div>
    </div>

</div>




<% include ./partials/footer %>
