
<% include ./partials/header %>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slideshow">
                  <li></li>
                  <li></li>
                  <li></li>
                </div>
            </div>
        </div>
    
    
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail testBox"></div>
            </div>
            <div class="col-sm-4">
                <div class="blahblah">
                    <h3>What's trending</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail testBox"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail testBox"></div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail testBox"></div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail testBox"></div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <h3>Clearance Items</h3>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail testBox"></div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail testBox"></div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail testBox"></div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail testBox"></div>
            </div>
        </div>
    </div>
</div>



<% include ./partials/footer %>
