<% include ../partials/header %>

<div class="container">
    <div class="padded">
        <form class="registerForm" action="/register" method="POST">
            <label>First Name</label>
            <div class="form-group">
                <input class="form-control" type="text" name="firstName" placeholder="first name">
            </div>
            <label>Last Name</label>
            <div class="form-group">
                <input class="form-control" type="text" name="lastName" placeholder="last name">
            </div>
            <label>Email Address</label>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="email@somedomain.com">
            </div>
            <label>Username</label>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <label>Password</label>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <label>Re-enter Password</label>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmPassword" placeholder="confirm password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
            </div>
            <input type"hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
                <button class="btn btn-success">Login</button>
                <a class="pull-right" href="/login">Already have an account? Login here!</a>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>