.box {
  background: #9b59b6;
  height: 100px;
  width: 100px;
  line-height:100px;
  text-align: center;
  color: white;
  font-size: 17px;
  border-radius: 20px;
}

@media (max-width: 420px) {
  .navbar-brand {
    width: 70%;
  }
}
/*.animated {*/
/*  transition-property: background, border-radius; */
  /* selecting these 2 properties to transition */
/*  transition-duration: 5s, 1s; */
  /* timing matches the respective properties above */
/*  transition-delay: 2s, .5; */
  /* delays match respective properties above - timings start counting when hover (event) is triggered*/
/*}*/

/*.box:hover {*/
/*  background: #e74c3c;*/
/*  transform-origin: top left;*/
/*  transform:scale(2);*/
/*  border-radius: 50px;*/
/*}*/

.animated {
	/*transition-property: transform;*/
	/*transition-duration: 2s;*/
	/*transition-timing-function: ease-out;*/
	transition: transform 2s ease-out 1s, background-color .5s linear;
}

.box:hover {
	transform: translateX(300px);
	background-color: teal;
}