<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <h1>Edit About Page</h1>
                <div class="caption-full addMargin">
                    <form action="/about" method="POST">
                        <textarea name="aboutText" value="aboutText">
                        
                        </textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>